<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ObjectiveHTTPD.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>64</integer>
		</dict>
		<key>ObjectiveHTTPDTouch.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>86</integer>
		</dict>
		<key>libObjectiveHTTPD.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>65</integer>
		</dict>
		<key>webside Linux.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>71</integer>
		</dict>
		<key>webside Linux.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>50</integer>
		</dict>
		<key>webside.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>70</integer>
		</dict>
		<key>webside.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>49</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1F0E36E312EBADC10008377F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F6ECA7C1424D2AF002DD085</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F81BFA219698FE40066DF43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F81BFAC19698FE50066DF43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FDA9FF6136E076000481CA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DC2EF4F0486A6940098B216</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
